$colors: (
  'grey': #b4c0d0,
  'blue': #3e5e85,
  'black': #333333,
  'white': #ffffff,
);

@mixin classes($colors) {
  @each $name, $value in $colors {
    .#{$name} {
      color: $value;
    }
    .bg-#{$name} {
      background-color: $value;
    }
  }
}

@include classes($colors);
@each $bp-prefix, $size in $breakpoints {
  @media #{$size} {
    @include classes($colors);
  }
}
