* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 0.625vw;

  @media #{$breakpoint-sm} {
    font-size: 1vw;
  }

  @media #{$breakpoint-lg} {
    font-size: 0.8vw;
  }
  background-color: rgb(62, 94, 133);
}

body {
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  font-size: 1.6rem;
  background-color: white;
}

h1 {
  margin: 2.4rem 0;
}

h2, h3, p {
  margin-bottom: 1.2rem;
}

ul {
  margin: 15px 30px;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

path {
  fill: currentColor;
}

body, html {
  height: 100%;
}

button {
  padding: 0;
  text-align: start;
  border: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
}
