<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    <script type="text/javascript" src="/assets/scripts/dist/app.js"></script>
    <link rel="stylesheet" href="/assets/styles/app.css" />
  </head>
  <body class="bg-grey">
    {{ content }}
  </body>
</html>
